/*
 * Seeed Wio Tracker L1 - nRF52840 + SX1262 + SSD1680 ePaper Display
 * Copyright (c) 2025 ZephCore
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 * Hardware:
 * - nRF52840 SoC with BLE
 * - SX1262 LoRa radio (DIO2 as RF switch, TCXO 1.8V)
 * - P25Q16H 2MB QSPI flash
 * - SSD1680 2.13" monochrome e-paper display (SPI on 24-pin FPC connector)
 * - L76KB GPS module
 * - Joystick + user button
 * - Battery voltage ADC
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <nordic/nrf52840_partition.dtsi>
#include <zephyr/dt-bindings/lora/sx126x.h>
#include <zephyr/dt-bindings/adc/nrf-saadc.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include "wio_tracker_l1_epaper_nrf52840-pinctrl.dtsi"

/* Delete default partitions from nrf52840_partition.dtsi */
/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

/ {
	model = "Seeed Wio Tracker L1 (SSD1680 ePaper)";
	compatible = "seeed,wio-tracker-l1-epaper";

	chosen {
		zephyr,code-partition = &code_partition;
		zephyr,console = &cdc_acm_uart;
		zephyr,shell-uart = &cdc_acm_uart;
		zephyr,display = &epd;
	};

	leds {
		compatible = "gpio-leds";

		user_led: led_0 {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
			label = "User LED";
		};
	};

	buttons: buttons {
		compatible = "gpio-keys";

		user_button: button_0 {
			gpios = <&gpio0 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
			label = "User Button";
		};

		joystick_up: button_1 {
			gpios = <&gpio1 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_UP>;
			label = "Joystick Up";
		};

		joystick_down: button_2 {
			gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_DOWN>;
			label = "Joystick Down";
		};

		joystick_left: button_3 {
			gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_LEFT>;
			label = "Joystick Left";
		};

		joystick_right: button_4 {
			gpios = <&gpio1 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_RIGHT>;
			label = "Joystick Right";
		};

		joystick_press: button_5 {
			gpios = <&gpio1 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_ENTER>;
			label = "Joystick Press";
		};
	};

	user_btn_longpress {
		compatible = "zephyr,input-longpress";
		input = <&buttons>;
		input-codes = <INPUT_KEY_0>;
		short-codes = <INPUT_KEY_A>;
		long-codes = <INPUT_KEY_POWER>;
		long-delay-ms = <1000>;
	};

	user_btn_multitap {
		compatible = "zephcore,input-multi-tap";
		input-codes = <INPUT_KEY_A>;
		tap-codes = <INPUT_KEY_1 INPUT_KEY_B INPUT_KEY_D INPUT_KEY_C INPUT_KEY_E>;
		tap-delay-ms = <400>;
	};

	vbat_enable: vbat-enable {
		compatible = "regulator-fixed";
		regulator-name = "vbat-enable";
		enable-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
	};

	/* NOTE: E-Ink FPC connector power is always-on; no software power gate needed */

	zephyr,user {
		io-channels = <&adc 7>;
		vbat-mv-multiplier = <7200>;
	};

	pwmbuzzer {
		compatible = "pwm-leds";
		buzzer: buzzer {
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};

	/* ---- E-Paper display (MIPI DBI SPI) ----
	 * Solomon Systech SSD1680 2.13" 250x122 monochrome EPD on SPI1.
	 * Pin assignments confirmed from Wio_Tracker_L1_Pro_SCH_PDF schematic:
	 * SCK=P0.30 (B9), MOSI=P0.28 (B11), BUSY=P0.29 (A10) - shared SPI1 bus
	 * CS=P0.14 (AC9), DC=P0.13 (AD8), RESET=P0.02 (A12), BUSY=P0.29 (A10).
	 */
	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi1>;
		dc-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		epd: ssd16xxfb@1 {
			compatible = "solomon,ssd1680";
			mipi-max-frequency = <4000000>;
			reg = <1>;
			width = <250>;
			height = <122>;
			rotation = <270>;
			busy-gpios = <&gpio0 29 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;

			full    { border-waveform = <0x05>; };
			partial { border-waveform = <0x3c>; };
		};
	};

	aliases {
		led0 = &user_led;
		sw0 = &user_button;
		lora0 = &lora;
		watchdog0 = &wdt0;
		buzzer = &buzzer;
	};
};

&reg0 {
	status = "okay";
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
		zephyr,input-positive = <NRF_SAADC_AIN7>;
		zephyr,resolution = <12>;
	};
};

&uicr {
	nfct-pins-as-gpios;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";

	gnss: gnss {
		compatible = "luatos,air530z";
		on-off-gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
	};
};

/* I2C0 disabled — SPIM0/TWIM0 share the same peripheral instance on nRF52840 */
&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
};

/* SPI1 for LoRa SX1262 and EPD */
&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>, <&gpio0 14 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";

	lora: lora@0 {
		compatible = "semtech,sx1262";
		reg = <0>;
		reset-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		dio1-gpios = <&gpio0 7 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		rx-enable-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
		dio2-tx-enable;
		dio3-tcxo-voltage = <SX126X_DIO3_TCXO_1V8>;
		tcxo-power-startup-delay-ms = <5>;
		spi-max-frequency = <8000000>;
		rx-boosted;
	};
};

&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";

	qspi_flash: qspi_flash@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		writeoc = "pp";
		readoc = "fastread";
		sck-frequency = <16000000>;
		jedec-id = [85 60 15];
		sfdp-bfp = [
			e5 20 f1 ff  ff ff ff 01  44 eb 08 6b  08 3b 04 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
			10 d8 00 ff
		];
		size = <16777216>;
		has-dpd;
		t-enter-dpd = <3000>;
		t-exit-dpd = <50000>;
	};
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};

#include "../../common/nrf52_partitions_sdv7.dtsi"

&qspi_flash {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		qspi_storage_partition: partition@0 {
			label = "qspi_storage";
			reg = <0x00000000 0x00200000>;
		};
	};
};
#include "../../common/nrf52_wakeup.dtsi"
