# MinewSemi ME25LS02 default configuration
# SPDX-License-Identifier: MIT

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_NULL_POINTER_EXCEPTION_DETECTION_NONE=y

CONFIG_CACHE_MANAGEMENT=y
CONFIG_EXTERNAL_CACHE=y

# Console on uart20 -> CH340x -> USB-C (no USB peripheral on this SoC)
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_GPIO=y
CONFIG_PINCTRL=y
CONFIG_SPI=y

# RRAM + LittleFS
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y

CONFIG_NRF_GRTC_START_SYSCOUNTER=y

CONFIG_REGULATOR=y
