# Semtech LR2021 LoRa Plus EVK board configuration
# Copyright (c) 2026 ZephCore
# SPDX-License-Identifier: MIT

config BOARD_SEEED_LR2021_EVK
	select SOC_NRF54L15_CPUAPP if BOARD_SEEED_LR2021_EVK_NRF54L15_CPUAPP
